body {
  background: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}
.heading {
  text-align: center;
  margin-left: 10px;
}
.heading h1 {
  color: #f3f3f3;
}
.heading h4 {
  color: floralwhite;
}
#form-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.form {
  background: #2b2a49;
  color: #f3f3f3;
  font-weight: normal;
  line-height: 2em;
  width: 90%;
  grid-column: 3/8;
  font-size: 1.3em;
}
form {
  margin: 0 auto;
  padding: 40px;
}
input[type="text"],
input[type="number"],
select {
  height: 30px;
  width: 100%;
  border-radius: 8px;
}
input,
placeholder {
  text-align: center;
  font-size: 0.8em;
}
label {
  line-height: 1em;
}
button {
  background: #37af65;
  width: 100%;
  height: 40px;
  color: white;
  cursor: pointer;
}
.comment {
  line-height: 2em;
}
.comment textarea {
  width: 100%;
  text-align: left;
  overflow-wrap: break-word;
}
.comment textarea,
placeholder {
  font-size: 1em;
}
